{
  "singleQuote": true,
  "trailingComma": "es5",
  "semi": false,
  "arrowParens": "avoid",
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 120,
  "endOfLine": "lf",
  "bracketSpacing": true
}
